<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, alt: 'iBloper Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'iBloper Logo'}"
  [sidebarToggler]="false"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
  [mobileSidebarToggler]="true">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link " href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Blogs</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
    <li>
      <div class="search-box mr-4">
        <button class="btn-search text-dark"><i class="fa fa-search" aria-hidden="true"></i></button>
        <input type="text" class="input-search" placeholder="Tapez pour rechercher...">
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card mx-4 border-0 bg-transparent">
            <div class="card-body p-4">
              <div class="ql-container ql-snow border-0">
                <div class="mx-5">
                  <h1 class="my-4">
                    <strong class="display-4 font-weight-bold ql-font-Roboto-Condensed">
                      {{ this.poste.p_titre }}
                    </strong>
                  </h1>
                  <div class="card">
                    <div class="card-body p-1 clearfix list-group-item-accent-info">
                      <img [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave" placement="bottom" src="assets/img/avatars/9.jpg" class="p-2 font-2xl mr-3 float-left img-circle">
                      <div class="h5 mb-0 mt-2">
                        <ng-template #popContent><b>{{followers}}</b> Suiveurs</ng-template>
                        <ng-template #popTitle><b [innerHTML]="html"></b></ng-template>
                        <span [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave" placement="bottom">
                          {{ this.poste.p_auteur }}
                        </span>
                        <strong> . </strong>
                        <a href="" class="card-link text-success">Suivre</a>
                        <div class="text-muted font-weight-bold font-xs mt-2">{{ this.poste.p_lire_temps }} min de lecture . {{ this.poste.p_date_creation | dateAsAgoPipe }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ql-editor" data-gramm="false" contenteditable="false" data-placeholder="Insert text here ..." spellcheck="false">
                  <div [innerHTML]="this.poste.p_contenu | sanitizehtmlpipe" class="mt-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>